<template name="detProject">
  <div class="ui grid">
    <div class="sixteen wide column">&nbsp;</div>
    <div class="ten wide column">
      <img src="/img/{{detInfo.coverImage}}" class="ui center aligned container disabled big fluid image" />
      <p class="ui left aligned container">{{detInfo.description}}</p>
    </div>
    <div class="ui six wide column">
      <h1 class="ui left aligned container">{{detInfo.title}}</h1>
      <p class="ui left aligned container">by {{detInfo.createdBy}}</p>
      <p class="ui left aligned container">{{detInfo.pledgeMoney}}</p>
    </div>
  </div>
</template>
